<%= simple_form_for(@node, url: node_path(@node)) do |form| %>
  <table>
    <tr>
      <th>Name</th>
      <td><%= @node.name %></td>
    </tr>
    <tr>
      <th rowspan='1'>Led</th>
        <%= form.simple_fields_for :led do |fields| %>
          <td><%= fields.input :led_state %></td>
        <% end %>
    </tr>
    <tr>
      <th rowspan='1'>Button</th>
      <%= form.simple_fields_for :button do |fields| %>
        <td><%= fields.input :safe %></td> 
      <% end %>
    </tr>
      <tr>
        <th rowspan='2'>Led stick</th>
        <%= form.simple_fields_for :neo_pixel_stick_eight do |fields| %>
          <td><%= fields.input :led_index %></td>
          <tr>
            <td><%= fields.input :led_color %></td>
          </tr> 
        <% end %>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
  </table>
<% end %>
