<h2>
  Nodes
</h2>

<table class='table'>
  <thead>
    <tr>
      <th style="border: 1px solid black;">Name</th>
      <th colspan='1' style="border: 1px solid black;">Led</th>
      <th colspan='1' style="border: 1px solid black;">Button</th>
      <th colspan='2' style="border: 1px solid black;">Led stick</th>
      <th style="border: 1px solid black;">Actions</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>led_state</th>
      <th>safe</th>
      <th>led_index</th>
      <th>led_color</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |object| %>
      <tr id='<%= object.apiotics_instance %>'>
        <td>
          <%= object.name %>
        </td>
          <td class='node-led-led_state'>
            <%= object.led.led_state %>
          </td>
          <td class='node-button-safe'>
            <%= object.button.safe %>
          </td>
          <td class='node-neo_pixel_stick_eight-led_index'>
            <%= object.neo_pixel_stick_eight.led_index %>
          </td>
          <td class='node-neo_pixel_stick_eight-led_color'>
            <%= object.neo_pixel_stick_eight.led_color %>
          </td>
        <td>
          <%= link_to "Edit", edit_node_path(object)%>
          <%= link_to "Display", node_path(object) %>
          <%= link_to "Commands", commands_node_path(object) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>