<!-- navbar for pages -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class=container-fluid> 
      <!-- menu hamburg for collapsing menu -->
      <label for="menu-toggle" class="menu-label"><%= image_tag( "hamb-menu-icon.png", :class => "hamburg") %></label>
        <input type="checkbox" id="menu-toggle">
      <div class=navbar-header> 
        <h2 class=navbar-brand>Tree of Life</h2> 
      </div> <!-- end .navbar-header -->
      <ul class="nav navbar-nav"> 
        <li><%= link_to "Home", root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Commands", commands_path %></li>
            <li><%= link_to "Patterns", static_patterns_path %></li>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
      </ul> 
    </div> <!-- end .container-fluid -->
  </nav> <!-- end nav -->